/* Contract.css */

.contract-page-container {
    padding: 20px;
  }
  
  .search-input {
    margin-bottom: 16px;
    margin-top: 80px;
  }
  
  .create-button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: blue;
    border-color: blue;
  }
  
  /* Style for Eye Icon */
  .anticon-eye {
    margin-right: 10px;
    font-size: 20px;
  }
  
  /* Style for Edit Button */
  .ant-btn-primary {
    margin-right: 10px;
    background-color: blue;
  }
  
  /* Style for Delete Icon */
  .anticon-delete {
    margin-left: 10px;
    font-size: 20px;
    color: red;
  }
  
  /* Additional Custom Styles */
  /* Add more styles as needed */
  