.card-container {
    padding: 20px;
    top: 15vh;
    position: relative;
  
  }
  
  .card-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    margin: 20px 5px 20px 5px;
  }
  
  .card img {
    width: 100%;
    overflow: visible;
  }
  
  .card a {
    display: block;
    margin-top: 10px;
  }