/* Homepages.css */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card a {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-decoration: none;
}

.card a:hover {
  color: #1890ff;
}

.ant-card-body {
  width: 100%;
  height: 100%;
  align-items: center !important;
}

.ant-card-hoverable {
  height: 100%;
  align-items: center !important;
}