.main-content-container {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.m-top--2rem{
  margin-top: 2rem;  
}

.m-top--1rem{
    margin-top: 1rem;  
  }
.w-100{
    width: 100%;
}
.combination-input--lable {

}

.combination-input--input{

}